@font-face {
  font-family: "Helvetica Neue LT GEO";
  src: url("../fonts/HelveticaNeueLTGEO-55Roman.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT light";
  src: url("../fonts/HELVETICANEUELTGEO-45LIGHTS.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "zarapxana";
  src: url("../fonts/ZARAPXANA.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue LT GEO", sans-serif;
  color: #000;
  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #133025;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 100, 0, 0.9);
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

:root {
  --header-height: 175px;
}

@media (max-width: 1024px) {
  :root {
    --header-height: 146px;
  }
  h1 {
    font-size: 4.4rem;
  }
  h2 {
    font-size: 3.2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 2.4rem;
  }
  h5 {
    font-size: 2rem;
  }
  h6 {
    font-size: 1.8rem;
  }
}
h1,
h2,
h3 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "zarapxana";
  font-weight: 400;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}
.room-info .room-slider .slider-actions .swiper-button-next,
.room-info .room-slider .slider-actions .swiper-button-prev, .room-info .room-description .room-offer-title, .room-info .room-description .top span, .gallery .gallery-slider.active .content, footer .footer-nav ul, .services-section--card .desc, .about-us-section--content, header .navlang-wrapper nav .navbar-ul, header .navlang-wrapper, header .mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-info .room-description .top, .rooms--desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-green, .button-white {
  display: block;
  width: fit-content;
  border-radius: 0.4rem;
  padding: 1.6rem 2.8rem;
  text-align: center;
  font-feature-settings: "case" on;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.button-white {
  color: #133025;
  background: rgba(255, 255, 255, 0.9);
}

.button-green {
  background-color: #133025;
  color: white;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 98%;
}
@media (max-width: 1024px) {
  .header-container {
    width: 100%;
    padding: 0 1.6rem;
  }
}

.footer-container {
  max-width: 870px;
  margin: 0 auto;
  width: 98%;
}

section:first-of-type {
  padding-top: var(--header-height);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: var(--header-height);
  padding-top: 4.7rem;
  padding-bottom: 2.4rem;
  background-color: rgba(19, 48, 37, 0.6);
}
header.not-index {
  background-image: url("../img/hero.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
header.active {
  position: fixed;
}
@media (max-width: 1024px) {
  header {
    padding-top: 4.6rem;
    padding-bottom: 1.2rem;
  }
  header.not-index {
    background-image: url("../img/header-bg.png");
  }
}
header .mobile {
  display: none;
  position: relative;
}
@media (max-width: 1024px) {
  header .mobile {
    display: flex;
  }
}
header .mobile .logo img {
  width: 88px;
  height: 88px;
  object-fit: contain;
}
header .mobile .burger {
  display: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
header .mobile .burger span {
  width: 25.67px;
  height: 1.83px;
  background: #ffffff;
  border-radius: 0.183333px;
  display: block;
}
header .mobile .burger span:nth-child(1) {
  margin-bottom: 0.5rem;
}
header .mobile .burger.active span:first-child {
  transform: rotate(45deg) translate(-2px, 4px);
}
header .mobile .burger.active span:nth-child(2) {
  transform: rotate(-45deg) translate(0px, -7px);
}
@media (max-width: 1024px) {
  header .mobile .burger {
    display: block;
  }
}
header .navlang-wrapper {
  gap: 9rem;
}
header .navlang-wrapper nav {
  width: 100%;
}
header .navlang-wrapper nav .navbar-ul {
  gap: 4rem;
}
@media (max-width: 1200px) {
  header .navlang-wrapper nav .navbar-ul {
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  header .navlang-wrapper nav .navbar-ul {
    gap: 0;
  }
}
@media (max-width: 1024px) {
  header .navlang-wrapper nav .navbar-ul li.logo {
    display: none;
  }
}
header .navlang-wrapper nav .navbar-ul .logo {
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1024px) {
  header .navlang-wrapper nav .navbar-ul .logo img {
    width: 88px;
  }
}
@media (max-width: 1024px) {
  header .navlang-wrapper nav .navbar-ul .logo {
    margin: 0;
  }
}
header .navlang-wrapper a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-feature-settings: "case" on;
}
header .navlang-wrapper .lang-bar {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .navlang-wrapper .lang-bar .lang-options {
  margin-right: 5px;
  position: relative;
}
header .navlang-wrapper .lang-bar a:not(.active) {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
@media (max-width: 1024px) {
  header .navlang-wrapper .lang-bar {
    display: none;
  }
}
header .navlang-wrapper .lang-bar::after {
  content: "";
  display: block;
  background-image: url("../img/icons/arr.svg");
  width: 5px;
  height: 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  filter: invert(1);
  flex-shrink: 0;
}
header .navlang-wrapper .lang-bar.active a:not(.active) {
  display: block;
  margin-top: 1rem;
}
header .navlang-wrapper .lang-bar.active::after {
  transform: rotate(270deg);
}
@media (max-width: 1200px) {
  header .navlang-wrapper {
    gap: 4rem;
  }
}
@media (max-width: 1024px) {
  header .navlang-wrapper {
    gap: 0;
    display: none;
  }
  header .navlang-wrapper.active {
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    top: 0;
    padding-top: calc(var(--header-height) - 1px);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100vh;
    z-index: -1;
  }
  header .navlang-wrapper.active .navbar-ul {
    flex-direction: column;
  }
  header .navlang-wrapper.active .navbar-ul li {
    margin-top: 3.2rem;
  }
  header .navlang-wrapper.active .lang-bar {
    display: block;
    margin-top: auto;
  }
  header .navlang-wrapper.active .lang-bar a:not(.active) {
    display: block;
    position: static;
  }
  header .navlang-wrapper.active .lang-bar a {
    margin-bottom: 1rem;
    display: block;
  }
  header .navlang-wrapper.active .lang-bar::after {
    display: none;
  }
}

.hero-section {
  position: relative;
  height: 100vh;
  text-align: center;
  background-image: url("../img/hero.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
@media (max-width: 768px) {
  .hero-section {
    background-size: cover;
  }
}
.hero-section--about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 104.2rem;
  width: 90%;
}
@media (max-width: 1024px) {
  .hero-section--about {
    top: 0;
    height: 100%;
    padding-top: calc(var(--header-height) + 7.7rem);
    padding-bottom: 4rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    width: calc(100% - 3.2rem);
  }
}
.hero-section--about p {
  max-width: 600px;
  margin: 2.4rem auto 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .hero-section--about p {
    font-size: 1.4rem;
    margin-top: 1.2rem;
  }
}
.hero-section--about h1 {
  color: #ffffff;
}
.hero-section--about .button-white {
  margin: auto;
}
@media (max-width: 1024px) {
  .hero-section--about .button-white {
    margin: auto auto 0;
    width: 100%;
  }
}

.about-us-section {
  position: relative;
  min-height: 80vh;
  background-image: url("../img/about.png");
  background-position: center center;
  background-size: cover;
}
@media (max-width: 1024px) {
  .about-us-section {
    min-height: 100vh;
  }
}
.about-us-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-section--content {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translateX(-50%);
  background-color: rgba(19, 48, 37, 0.5);
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 70.5rem;
  width: calc(100% - 3.2rem);
}
@media (max-width: 1024px) {
  .about-us-section--content {
    padding: 22rem 0;
  }
}
.about-us-section--content > * {
  max-width: 48.6rem;
  width: 90%;
  margin: 0 auto;
}
.about-us-section--content h2 {
  margin-bottom: 4rem;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .about-us-section--content h2 {
    margin-bottom: 3.2rem;
  }
}
.about-us-section--content p {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .about-us-section--content p {
    font-size: 1.4rem;
  }
}

.services-section {
  position: relative;
  max-width: 1920px;
  margin: auto;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 14.6rem;
}
@media (max-width: 1024px) {
  .services-section {
    padding-top: 4.8rem;
    padding-bottom: 6.4rem;
  }
}
.services-section--bg {
  position: absolute;
  top: 0;
  right: 5%;
  max-width: 67rem;
  aspect-ratio: 1;
  z-index: -1;
}
@media (max-width: 1024px) {
  .services-section--bg {
    width: 264px;
    right: -8rem;
    top: 4.5rem;
  }
}
.services-section--container {
  max-width: 1704px;
  margin: auto;
  width: 90%;
}
@media (max-width: 1024px) {
  .services-section--container {
    width: 100%;
    padding: 0 1.6rem;
  }
}
.services-section--wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  gap: 1.6rem;
}
@media (max-width: 1024px) {
  .services-section--wrapper {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }
}
.services-section--card {
  position: relative;
  height: 40.7rem;
}
@media (max-width: 1024px) {
  .services-section--card {
    height: 37.1rem;
  }
}
.services-section--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section--card .desc {
  background-color: rgba(19, 48, 37, 0.9);
  padding: 2.4rem 4.8rem;
  position: absolute;
  width: 100%;
  height: 48%;
  flex-direction: column;
  align-items: start;
  bottom: 0;
  left: 0;
}
@media (max-width: 1024px) {
  .services-section--card .desc {
    padding: 2rem;
    display: block;
    height: auto;
  }
}
.services-section--card .desc span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.8rem;
  color: #ffffff;
  font-feature-settings: "case" on;
}
@media (max-width: 1024px) {
  .services-section--card .desc span {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}
.services-section--card .desc h4 {
  margin-bottom: 5rem;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .services-section--card .desc h4 {
    margin-bottom: 4.8rem;
  }
}
.services-section--card .desc a {
  text-decoration-line: underline;
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: auto;
}
@media (max-width: 1024px) {
  .services-section--card .desc a {
    margin-top: 0;
  }
}

footer {
  background-color: #133025;
  padding-top: 4rem;
  padding-bottom: 3.2rem;
}
footer .footer-nav {
  margin-bottom: 3.2rem;
}
footer .footer-nav ul {
  gap: 4rem;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  footer .footer-nav ul {
    flex-direction: column;
    gap: 2.4rem;
  }
}
footer .footer-nav ul a {
  font-feature-settings: "case" on;
  font-size: 1.6rem;
  color: #ffffff;
  text-decoration: none;
}
footer .footer-contact {
  text-align: center;
  margin-bottom: 5.5rem;
}
footer .footer-contact a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
}
@media (max-width: 1024px) {
  footer .footer-contact {
    margin-bottom: 4.8rem;
    margin-top: 4.8rem;
  }
}
footer .created-by {
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
}
footer .created-by p {
  color: #ffffff;
}
footer .created-by a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
}

.stay {
  padding: 4.8rem 0 8rem;
  padding-top: calc(var(--header-height) + 4.8rem) !important;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1024px) {
  .stay {
    padding-top: calc(var(--header-height) + 3.2rem) !important;
    padding-bottom: 6.4rem;
  }
}
.stay .stay-block {
  margin-top: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  grid-template-areas: "text img";
  padding-left: 4rem;
}
@media (max-width: 1024px) {
  .stay .stay-block {
    grid-template-columns: 1fr;
    grid-template-areas: "img" "text";
    padding: 0;
    margin-top: 3.2rem;
  }
}
.stay .stay-block:nth-of-type(2) {
  padding-left: 0;
  padding-right: 4rem;
  grid-template-columns: 1.7fr 1fr;
  grid-template-areas: "img text";
}
@media (max-width: 1024px) {
  .stay .stay-block:nth-of-type(2) {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "text";
  }
}
.stay .stay-block:nth-of-type(2) .stay-desc {
  margin-left: -3rem;
  margin-top: 2.6rem;
}
@media (max-width: 1024px) {
  .stay .stay-block:nth-of-type(2) .stay-desc {
    margin: 0;
    width: calc(100% - 1.6rem);
    margin-right: auto;
    margin-top: -3rem;
  }
}
.stay .stay-block:nth-of-type(2) .stay-img {
  margin-top: 0;
}
.stay .stay-desc {
  background: #f1f1f1;
  padding: 4.8rem;
  height: fit-content;
  grid-area: text;
  margin-right: -3rem;
}
@media (max-width: 1024px) {
  .stay .stay-desc {
    margin: 0;
    padding: 2.4rem;
    width: calc(100% - 1.6rem);
    margin-left: auto;
    margin-top: -3rem;
  }
}
.stay .stay-desc h4 {
  margin-bottom: 2rem;
}
.stay .stay-desc .button {
  margin-top: 5rem;
}
.stay .stay-desc p {
  max-width: 486px;
  width: 90%;
  font-size: 1.6rem;
  color: #000;
}
.stay .stay-img {
  max-width: 1211px;
  margin-top: 3.2rem;
  height: 32rem;
  grid-area: img;
}
.stay .stay-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .stay .stay-img {
    margin-top: 0;
  }
}

.rooms {
  padding: 4.8rem 0 20rem;
  padding-top: calc(var(--header-height) + 4.8rem) !important;
}
@media (max-width: 1024px) {
  .rooms .header-container {
    padding-left: 0;
  }
  .rooms .header-container > h3 {
    padding-left: 1.6rem;
  }
}
@media (max-width: 1024px) {
  .rooms {
    padding-bottom: 6.4rem;
    padding-top: calc(var(--header-height) + 3.2rem) !important;
  }
}
.rooms--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  margin-top: 4.8rem;
  row-gap: 1.6rem;
}
@media (max-width: 1024px) {
  .rooms--wrapper {
    margin-top: 3.2rem;
  }
}
.rooms--card {
  display: block;
  cursor: pointer;
}
.rooms--card .card--img {
  width: calc(100% - 1.6rem);
  margin-left: auto;
  display: block;
  aspect-ratio: 1;
}
.rooms--desc {
  background: #f2f2f2;
  padding: 2.1rem 3rem 2.1rem 1.6rem;
  width: calc(100% - 1.6rem);
  margin-right: auto;
  cursor: pointer;
}
.rooms--desc h5 {
  max-width: 20rem;
}

.glamping {
  padding-bottom: 10.4rem;
}
@media (max-width: 1024px) {
  .glamping {
    padding-bottom: 6.4rem;
  }
}

.button-green.see-more {
  margin: auto;
  margin-top: 6.3rem;
}

.gallery {
  padding-top: calc(var(--header-height) + 4.8rem) !important;
  padding-bottom: 9.6rem;
}
@media (max-width: 1024px) {
  .gallery {
    padding-top: calc(var(--header-height) + 3.2rem) !important;
    padding-bottom: 6.4rem;
  }
}
.gallery--wrapper {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
  gap: 4px;
}
.gallery--wrapper .gallery-img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .gallery--wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.2rem;
  }
}
.gallery .gallery-slider {
  display: none;
}
.gallery .gallery-slider.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.7);
}
.gallery .gallery-slider.active .close-img {
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .close-img {
    right: 3rem;
    top: 4.6rem;
  }
}
.gallery .gallery-slider.active .content {
  max-width: 898px;
  width: 50%;
  margin: auto;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.2);
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .content {
    width: 100%;
    height: 70vh;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    grid-template-areas: "img img" "left right";
    background-color: rgba(242, 242, 242, 0.8);
  }
}
.gallery .gallery-slider.active .content .slider-btn {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 16rem 1.6rem;
  border: none;
  cursor: pointer;
  max-height: 34.5rem;
}
.gallery .gallery-slider.active .content .slider-btn.prev img {
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .content .slider-btn {
    padding: 0;
    height: 100%;
    background-color: transparent;
  }
  .gallery .gallery-slider.active .content .slider-btn.prev {
    grid-area: left;
  }
  .gallery .gallery-slider.active .content .slider-btn.next {
    grid-area: right;
  }
}
.gallery .gallery-slider.active .content .gallery-slider-imgs {
  width: 100%;
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .content .gallery-slider-imgs {
    grid-area: img;
    height: 100%;
  }
}
.gallery .gallery-slider.active .content .slider-img {
  display: none;
  width: 100%;
  aspect-ratio: 1;
}
.gallery .gallery-slider.active .content .slider-img.active {
  display: block;
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .content .slider-img {
    aspect-ratio: unset;
    height: 100%;
    max-height: 572px;
    object-fit: cover;
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin: 3.4rem 0 1.4rem;
  width: fit-content;
}
.breadcrumbs img {
  transform: rotate(180deg);
}
@media (max-width: 1024px) {
  .breadcrumbs {
    margin-top: 2rem;
  }
}

.similar-rooms {
  margin-bottom: 9.6rem;
  margin-top: 7.2rem;
}
@media (max-width: 1024px) {
  .similar-rooms {
    margin-bottom: 8rem;
    margin-top: 3.2rem;
  }
}
.similar-rooms .similar-rooms-title {
  padding: 0 1.6rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 1024px) {
  .similar-rooms .similar-rooms-title {
    text-align: center;
  }
}
.similar-rooms .similar-slider {
  max-width: 1544px;
  width: 100%;
  margin: auto;
  padding: 0 4rem;
}
@media (max-width: 1024px) {
  .similar-rooms .similar-slider {
    padding: 0;
  }
}
.similar-rooms .similar-slider .swiper-wrapper {
  max-width: 100%;
}
.similar-rooms .similar-slider .swiper-button-next,
.similar-rooms .similar-slider .swiper-button-prev {
  height: 100%;
  top: 0;
  margin: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 4rem;
}
.similar-rooms .similar-slider .swiper-button-next::after,
.similar-rooms .similar-slider .swiper-button-prev::after {
  color: #000;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  .similar-rooms .similar-slider .swiper-button-next,
  .similar-rooms .similar-slider .swiper-button-prev {
    display: none;
  }
}
.similar-rooms .similar-slider .swiper-button-next {
  right: 0;
}
.similar-rooms .similar-slider .swiper-button-prev {
  left: 0;
}

.room-info {
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.03fr;
  align-items: center;
}
@media (max-width: 1024px) {
  .room-info {
    grid-template-columns: 1fr;
  }
}
.room-info .room-description {
  padding: 4rem 6rem 5.6rem;
  background: #f2f2f2;
  padding-right: 24%;
  min-height: 50rem;
}
@media (max-width: 1024px) {
  .room-info .room-description {
    padding-right: 6rem;
    padding: 1.6rem;
  }
}
.room-info .room-description .top {
  align-items: start;
  margin-bottom: 3.2rem;
}
@media (max-width: 1024px) {
  .room-info .room-description .top {
    flex-direction: column;
  }
}
.room-info .room-description .top h3 {
  max-width: 26.5rem;
  text-align: left;
}
@media (max-width: 1024px) {
  .room-info .room-description .top h3 {
    margin-bottom: 1.7rem;
    max-width: unset;
  }
}
.room-info .room-description .top span {
  color: #133025;
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 1rem;
}
.room-info .room-description p.about-room {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  max-width: 80%;
}
@media (max-width: 1024px) {
  .room-info .room-description p.about-room {
    max-width: unset;
  }
}
.room-info .room-description .room-offer-title {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  gap: 1.2rem;
}
.room-info .room-description .room-offer-title span {
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  color: #000;
  flex-shrink: 0;
}
.room-info .room-description .room-offer-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(19, 48, 37, 0.07);
  display: block;
}
.room-info .room-description .room-services li {
  font-feature-settings: "case" on;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}
.room-info .room-description .price {
  font-size: 3.2rem;
  font-feature-settings: "case" on;
  font-weight: 700;
  color: #133025;
}
.room-info .room-slider {
  width: calc(100% + 1.6rem);
  height: calc(100% - 4rem);
  position: relative;
}
@media (max-width: 1024px) {
  .room-info .room-slider {
    height: 400px;
    width: 100%;
  }
}
.room-info .room-slider .swiper-wrapper {
  height: 100%;
}
.room-info .room-slider .swiper-wrapper .swiper-slide {
  height: 100%;
}
.room-info .room-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room-info .room-slider .slider-actions {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4.8rem;
  padding: 1rem 1.6rem;
  background-color: rgba(19, 48, 37, 0.5);
}
@media (max-width: 1024px) {
  .room-info .room-slider .slider-actions {
    justify-content: center;
  }
}
.room-info .room-slider .slider-actions > * {
  position: static;
  z-index: 5;
  width: fit-content;
}
.room-info .room-slider .slider-actions .swiper-button-next,
.room-info .room-slider .slider-actions .swiper-button-prev {
  height: 100%;
  margin: 0;
}
.room-info .room-slider .slider-actions .swiper-button-next::after,
.room-info .room-slider .slider-actions .swiper-button-prev::after {
  font-size: 1.8rem;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .room-info .room-slider .slider-actions .swiper-button-next,
  .room-info .room-slider .slider-actions .swiper-button-prev {
    display: none;
  }
}
.room-info .room-slider .slider-actions .swiper-button-prev {
  margin-right: 3rem;
  margin-left: 2rem;
}
.room-info .room-slider .slider-actions .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 0.8rem;
  cursor: pointer;
}
.room-info .room-slider .slider-actions .swiper-pagination-bullet-active {
  background: white;
  position: relative;
}
.room-info .room-slider .slider-actions .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid white;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-page {
  padding-top: calc(var(--header-height) + 4.8rem) !important;
  overflow: hidden;
  padding-bottom: 10.4rem;
  position: relative;
}
@media (max-width: 1024px) {
  .blog-page {
    padding-bottom: 8.8rem;
    padding-top: calc(var(--header-height) + 3.2rem) !important;
  }
}
.blog-page .blog-leaf {
  position: absolute;
  right: -5%;
  bottom: -10%;
  z-index: -1;
}
@media (max-width: 1024px) {
  .blog-page .blog-leaf {
    width: 235px;
    bottom: -1%;
    right: -10%;
  }
}
.blog-page .blog-posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(46.9rem, 1fr));
  gap: 4.8rem 1.6rem;
  margin-top: 4.8rem;
}
@media (max-width: 1024px) {
  .blog-page .blog-posts-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3.2rem;
  }
}
@media (max-width: 768px) {
  .blog-page .blog-posts-wrapper {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }
}
.blog-page .blog-posts-wrapper .blog-card img.blog-img {
  width: 100%;
  height: 27.6rem;
  object-fit: cover;
}
@media (max-width: 1024px) {
  .blog-page .blog-posts-wrapper .blog-card img.blog-img {
    height: 20rem;
  }
}
.blog-page .blog-posts-wrapper .blog-card .blog-title {
  margin: 1.6rem 0;
}
.blog-page .blog-posts-wrapper .blog-card p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2.4rem;
}
@media (max-width: 1024px) {
  .blog-page .blog-posts-wrapper .blog-card p {
    margin-bottom: 1.6rem;
  }
}
.blog-page .blog-posts-wrapper .blog-card a {
  display: flex;
  align-items: center;
  font-feature-settings: "case" on;
  color: #133025;
  gap: 1.1rem;
  font-size: 1.4rem;
}
@media (max-width: 1024px) {
  .blog-page .see-more {
    margin-top: 5.6rem;
  }
}

.blog-internal {
  max-width: 1920px;
  margin: auto;
  margin-bottom: 10.4rem;
}
@media (max-width: 1024px) {
  .blog-internal {
    margin-bottom: 4rem;
  }
}
.blog-internal .blog-int-container {
  max-width: 1696px;
  margin-left: auto;
  margin-top: 3.4rem;
  padding-left: 1.6rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .blog-internal .blog-int-container {
    flex-direction: column-reverse;
    padding-left: 0rem;
    margin-top: 0;
  }
}
.blog-internal .blog-int-container .desc {
  max-width: 486px;
}
@media (max-width: 1024px) {
  .blog-internal .blog-int-container .desc {
    max-width: unset;
    padding: 0 1.6rem;
  }
}
.blog-internal .blog-int-container .desc h3 {
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 3.2rem;
}
@media (max-width: 1024px) {
  .blog-internal .blog-int-container .desc h3 {
    font-size: 2.4rem;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
.blog-internal .blog-int-container .desc p {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 1024px) {
  .blog-internal .blog-int-container .desc p {
    font-size: 1.4rem;
  }
}
.blog-internal .blog-int-container .img {
  max-width: 955px;
  width: 60%;
}
.blog-internal .blog-int-container .img img {
  width: 100%;
  max-height: 562px;
}
@media (max-width: 1024px) {
  .blog-internal .blog-int-container .img {
    max-width: unset;
    width: 100%;
  }
}

.contact-page {
  position: relative;
  max-width: 1920px;
  margin: auto;
  margin-top: 4.8rem;
  padding-bottom: 22rem;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .contact-page {
    padding-bottom: 0;
  }
}
.contact-page .leaf {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translate(-50%, 40%);
}
@media (max-width: 1024px) {
  .contact-page .leaf {
    display: none;
  }
}
.contact-page .contact-wrapper {
  display: grid;
  margin-top: 4.8rem;
  grid-template-columns: 1.01fr 1fr;
}
@media (max-width: 1024px) {
  .contact-page .contact-wrapper {
    grid-template-columns: 1fr;
    margin-top: 0;
  }
}
.contact-page .contact-wrapper .map {
  height: 562px;
}
@media (max-width: 1024px) {
  .contact-page .contact-wrapper .map {
    height: 492px;
  }
}
.contact-page .contact-wrapper .contact-links {
  margin-top: 4rem;
  height: fit-content;
  background: #f2f2f2;
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
}
@media (max-width: 1024px) {
  .contact-page .contact-wrapper .contact-links {
    margin-top: 3.2rem;
    padding: 3rem;
  }
}
.contact-page .contact-wrapper .contact-links .contact-links-wrapper {
  max-width: 310px;
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media (max-width: 1024px) {
  .contact-page .contact-wrapper .contact-links .contact-links-wrapper {
    max-width: unset;
    width: 100%;
    padding: 0;
  }
}
.contact-page .contact-wrapper .contact-links .contact-links-wrapper a {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.contact-page .contact-wrapper .contact-links .contact-links-wrapper a:hover {
  color: #133025;
}
@media (max-width: 1024px) {
  .contact-page .contact-wrapper .contact-links .contact-links-wrapper a {
    flex-direction: column;
    gap: 1rem;
  }
}

.services-page {
  padding-top: calc(var(--header-height) + 4.8rem) !important;
  padding-bottom: 10rem;
}
@media (max-width: 1024px) {
  .services-page {
    padding-top: calc(var(--header-height) + 2rem) !important;
    padding-bottom: 9rem;
  }
}
.services-page .services-wrapper {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(469px, 1fr));
  gap: 1.6rem;
}
@media (max-width: 1024px) {
  .services-page .services-wrapper {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
  }
}
.services-page .services-wrapper .service-card {
  position: relative;
}
.services-page .services-wrapper .service-card img {
  width: 100%;
  aspect-ratio: 1;
}
@media (max-width: 1024px) {
  .services-page .services-wrapper .service-card img {
    aspect-ratio: unset;
    height: 388px;
    object-fit: cover;
  }
}
.services-page .services-wrapper .service-card .service-desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2.4rem 4.8rem;
  background-color: rgba(19, 48, 37, 0.9);
  min-height: 40%;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .services-page .services-wrapper .service-card .service-desc {
    padding: 2rem;
  }
}
.services-page .services-wrapper .service-card .service-desc > * {
  color: #ffffff;
}
.services-page .services-wrapper .service-card .service-desc .type {
  font-feature-settings: "case" on;
  font-size: 1.6rem;
}
.services-page .services-wrapper .service-card .service-desc .title {
  margin-top: 0.8rem;
}
@media (max-width: 1024px) {
  .services-page .services-wrapper .service-card .service-desc .title {
    font-size: 2rem;
  }
}
.services-page .services-wrapper .service-card .service-desc .link {
  margin-top: auto;
  text-decoration: underline;
  font-feature-settings: "case" on;
  font-size: 1.4rem;
}

.services-internal {
  margin-bottom: 10rem;
}
@media (max-width: 1024px) {
  .services-internal .header-container {
    padding: 0;
  }
}
.services-internal .service-wrapper {
  margin-top: 3.4rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper {
    flex-direction: column-reverse;
    margin-top: 2.6rem;
  }
}
.services-internal .service-wrapper .service-text {
  max-width: 486px;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper .service-text {
    max-width: unset;
    padding: 0 1.6rem;
  }
}
.services-internal .service-wrapper .service-text .title {
  margin-bottom: 3.2rem;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper .service-text .title {
    margin-bottom: 2.4rem;
    font-size: 24px;
  }
}
.services-internal .service-wrapper .service-text p {
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper .service-text p {
    font-size: 1.4rem;
  }
}
.services-internal .service-wrapper .service-img {
  width: 50%;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper .service-img {
    width: 100%;
    height: 250px;
    margin-bottom: 24px;
  }
}
.services-internal .service-wrapper .service-img img {
  width: 100%;
  aspect-ratio: 1;
}
@media (max-width: 1024px) {
  .services-internal .service-wrapper .service-img img {
    height: 100%;
    object-fit: cover;
  }
}

.about-us .about-us-wrapper {
  margin-top: 8.2rem;
}
@media (max-width: 1024px) {
  .about-us .about-us-wrapper {
    margin-top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
