@font-face {
  font-family: "Helvetica Neue LT GEO";
  src: url("../fonts/HelveticaNeueLTGEO-55Roman.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT light";
  src: url("../fonts/HELVETICANEUELTGEO-45LIGHTS.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "zarapxana";
  src: url("../fonts/ZARAPXANA.TTF");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue LT GEO", sans-serif;
  color: #000;
  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #133025;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 100, 0, 0.9);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
}

h1 {
  font-size: 8.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "zarapxana";
  font-weight: 400;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.room-info .room-slider .slider-actions .swiper-button-next,
.room-info .room-slider .slider-actions .swiper-button-prev, .room-info .room-description .room-offer-title, .room-info .room-description .top span, .gallery .gallery-slider.active .content, footer .footer-nav ul, .services-section--card .desc, .about-us-section--content, header .navlang-wrapper nav .navbar-ul, header .navlang-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-info .room-description .top, .rooms--desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-green, .button-white {
  display: block;
  width: fit-content;
  border-radius: 0.4rem;
  padding: 1.6rem 2.8rem;
  text-align: center;
  font-feature-settings: "case" on;
  text-decoration: none;
  cursor: pointer;
}

.button-white {
  color: #133025;
  background: rgba(255, 255, 255, 0.9);
}

.button-green {
  background-color: #133025;
  color: white;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 98%;
}

.footer-container {
  max-width: 870px;
  margin: 0 auto;
  width: 98%;
}

header {
  z-index: 10;
  height: 175px;
  padding-top: 4.7rem;
  padding-bottom: 2.4rem;
  background-color: rgba(19, 48, 37, 0.6);
  background-image: url("../img/header-bg.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}
header .navlang-wrapper {
  gap: 9rem;
}
header .navlang-wrapper nav {
  width: 100%;
}
header .navlang-wrapper nav .navbar-ul {
  gap: 4rem;
}
@media (max-width: 1200px) {
  header .navlang-wrapper nav .navbar-ul {
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  header .navlang-wrapper nav .navbar-ul li:not(.logo) {
    display: none;
  }
}
header .navlang-wrapper nav .navbar-ul .logo {
  margin-left: auto;
  margin-right: auto;
}
header .navlang-wrapper a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-feature-settings: "case" on;
}
header .navlang-wrapper .lang-bar a:not(.active) {
  display: none;
}
@media (max-width: 1024px) {
  header .navlang-wrapper .lang-bar {
    display: none;
  }
}
@media (max-width: 1200px) {
  header .navlang-wrapper {
    gap: 4rem;
  }
}

.hero-section {
  position: relative;
  min-height: 80vh;
  text-align: center;
  background-image: url("../img/hero.png");
  background-position: center bottom;
  background-size: 101.5% 100%;
  background-repeat: no-repeat;
}
.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}
.hero-section--about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 104.2rem;
}
.hero-section--about p {
  max-width: 600px;
  margin: 2.4rem auto 4rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
}
.hero-section--about h1 {
  color: #ffffff;
}
.hero-section--about .button-white {
  margin: auto;
}

.about-us-section {
  position: relative;
  min-height: 80vh;
}
.about-us-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-us-section--content {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  transform: translateX(-50%);
  background-color: rgba(19, 48, 37, 0.5);
  color: #ffffff;
  text-align: center;
  flex-direction: column;
  padding-left: 10rem;
  padding-right: 10rem;
  max-width: 70.5rem;
  width: 100%;
}
.about-us-section--content > * {
  max-width: 48.6rem;
  width: 90%;
  margin: 0 auto;
}
.about-us-section--content h2 {
  margin-bottom: 4rem;
  color: #ffffff;
}
.about-us-section--content p {
  margin-bottom: 2.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
}

.services-section {
  position: relative;
  max-width: 1920px;
  margin: auto;
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 14.6rem;
}
.services-section--bg {
  position: absolute;
  top: 0;
  right: 5%;
  max-width: 67rem;
  aspect-ratio: 1;
  z-index: -1;
}
.services-section--container {
  max-width: 1704px;
  margin: auto;
  width: 90%;
}
.services-section--wrapper {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr;
  gap: 1.6rem;
}
@media (max-width: 1024px) {
  .services-section--wrapper {
    grid-template-columns: 1fr;
  }
}
.services-section--card {
  position: relative;
  height: 40.7rem;
}
.services-section--card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.services-section--card .desc {
  background-color: rgba(19, 48, 37, 0.9);
  padding: 2.4rem 4.8rem;
  position: absolute;
  width: 100%;
  height: 48%;
  flex-direction: column;
  align-items: start;
  bottom: 0;
  left: 0;
}
.services-section--card .desc span {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.8rem;
  color: #ffffff;
}
.services-section--card .desc h4 {
  margin-bottom: 5rem;
  color: #ffffff;
}
.services-section--card .desc a {
  text-decoration-line: underline;
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  color: #ffffff;
  margin-top: auto;
}

footer {
  background-color: #133025;
  padding-top: 4rem;
  padding-bottom: 3.2rem;
}
footer .footer-nav {
  margin-bottom: 3.2rem;
}
footer .footer-nav ul {
  gap: 4rem;
  flex-wrap: wrap;
}
footer .footer-nav ul a {
  font-feature-settings: "case" on;
  font-size: 1.6rem;
  color: #ffffff;
  text-decoration: none;
}
footer .footer-contact {
  text-align: center;
  margin-bottom: 5.5rem;
}
footer .footer-contact a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
}
footer .created-by {
  color: #ffffff;
  font-size: 1.6rem;
  text-align: center;
}
footer .created-by p {
  color: #ffffff;
}
footer .created-by a {
  color: #ffffff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 700;
}

.stay {
  padding: 4.8rem 0 8rem;
}

.rooms {
  padding: 4.8rem 0 20rem;
}
.rooms--wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  margin-top: 4.8rem;
  row-gap: 1.6rem;
}
.rooms--card {
  display: block;
  cursor: pointer;
}
.rooms--card .card--img {
  width: calc(100% - 1.6rem);
  margin-left: auto;
  display: block;
  aspect-ratio: 1;
}
.rooms--desc {
  background: #f2f2f2;
  padding: 2.1rem 3rem 2.1rem 1.6rem;
  width: calc(100% - 1.6rem);
  margin-right: auto;
  cursor: pointer;
}
.rooms--desc h5 {
  max-width: 20rem;
}

.glamping {
  padding-bottom: 10.4rem;
}

.button-green.see-more {
  margin: auto;
  margin-top: 6.3rem;
}

.gallery {
  padding-top: 4.8rem;
  padding-bottom: 9.6rem;
}
.gallery--wrapper {
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
  gap: 4px;
}
.gallery--wrapper .gallery-img {
  width: 100%;
  cursor: pointer;
  height: 100%;
  object-fit: cover;
}
.gallery .gallery-slider {
  display: none;
}
.gallery .gallery-slider.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.gallery .gallery-slider.active .content {
  max-width: 898px;
  width: 50%;
  margin: auto;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.2);
}
@media (max-width: 1024px) {
  .gallery .gallery-slider.active .content {
    width: 90%;
  }
}
.gallery .gallery-slider.active .content .slider-btn {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 16rem 1.6rem;
  border: none;
  cursor: pointer;
  max-height: 34.5rem;
}
.gallery .gallery-slider.active .content .slider-btn.prev img {
  transform: rotate(180deg);
}
.gallery .gallery-slider.active .content .gallery-slider-imgs {
  width: 100%;
}
.gallery .gallery-slider.active .content .slider-img {
  display: none;
  width: 100%;
  aspect-ratio: 1;
}
.gallery .gallery-slider.active .content .slider-img.active {
  display: block;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  margin: 3.4rem 0 1.4rem;
}
.breadcrumbs img {
  transform: rotate(180deg);
}

.similar-rooms {
  margin-bottom: 9.6rem;
  margin-top: 7.2rem;
}
.similar-rooms .similar-rooms-title {
  padding: 0 1.6rem;
  margin-bottom: 2.4rem;
}
.similar-rooms .similar-slider {
  max-width: 1544px;
  width: 100%;
  margin: auto;
  padding: 0 4rem;
}
.similar-rooms .similar-slider .swiper-wrapper {
  max-width: 100%;
}
.similar-rooms .similar-slider .swiper-button-next,
.similar-rooms .similar-slider .swiper-button-prev {
  height: 100%;
  top: 0;
  margin: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 4rem;
}
.similar-rooms .similar-slider .swiper-button-next::after,
.similar-rooms .similar-slider .swiper-button-prev::after {
  color: #000;
  font-size: 2rem;
}
.similar-rooms .similar-slider .swiper-button-next {
  right: 0;
}
.similar-rooms .similar-slider .swiper-button-prev {
  left: 0;
}

.room-info {
  max-width: 1920px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.03fr;
  align-items: center;
}
@media (max-width: 1024px) {
  .room-info {
    grid-template-columns: 1fr;
  }
}
.room-info .room-description {
  padding: 4rem 6rem 5.6rem;
  background: #f2f2f2;
  padding-right: 24%;
  min-height: 50rem;
}
@media (max-width: 1024px) {
  .room-info .room-description {
    padding-right: 6rem;
  }
}
.room-info .room-description .top {
  align-items: start;
  margin-bottom: 3.2rem;
}
.room-info .room-description .top h3 {
  max-width: 26.5rem;
}
.room-info .room-description .top span {
  color: #133025;
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  font-weight: 700;
  gap: 1rem;
}
.room-info .room-description p.about-room {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
  max-width: 80%;
}
.room-info .room-description .room-offer-title {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  gap: 1.2rem;
}
.room-info .room-description .room-offer-title span {
  font-feature-settings: "case" on;
  font-size: 1.4rem;
  color: #000;
  flex-shrink: 0;
}
.room-info .room-description .room-offer-title::after {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(19, 48, 37, 0.07);
  display: block;
}
.room-info .room-description .room-services li {
  font-feature-settings: "case" on;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}
.room-info .room-description .price {
  font-size: 3.2rem;
  font-feature-settings: "case" on;
  font-weight: 700;
  color: #133025;
}
.room-info .room-slider {
  width: calc(100% + 1.6rem);
  height: calc(100% - 4rem);
  position: relative;
}
@media (max-width: 1024px) {
  .room-info .room-slider {
    height: 400px;
    width: 100%;
  }
}
.room-info .room-slider .swiper-wrapper {
  height: 100%;
}
.room-info .room-slider .swiper-wrapper .swiper-slide {
  height: 100%;
}
.room-info .room-slider .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.room-info .room-slider .slider-actions {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 4.8rem;
  padding: 1rem 1.6rem;
  background-color: rgba(19, 48, 37, 0.5);
}
.room-info .room-slider .slider-actions > * {
  position: static;
  z-index: 5;
  width: fit-content;
}
.room-info .room-slider .slider-actions .swiper-button-next,
.room-info .room-slider .slider-actions .swiper-button-prev {
  height: 100%;
  margin: 0;
}
.room-info .room-slider .slider-actions .swiper-button-next::after,
.room-info .room-slider .slider-actions .swiper-button-prev::after {
  font-size: 1.8rem;
  color: #ffffff;
}
.room-info .room-slider .slider-actions .swiper-button-prev {
  margin-right: 3rem;
  margin-left: 2rem;
}
.room-info .room-slider .slider-actions .swiper-pagination-bullet {
  width: 0.6rem;
  height: 0.6rem;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 0.8rem;
  cursor: pointer;
}
.room-info .room-slider .slider-actions .swiper-pagination-bullet-active {
  background: white;
}

.blog-page {
  padding-top: 4.8rem;
  padding-bottom: 10.4rem;
}
.blog-page .blog-posts-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(46.9rem, 1fr));
  gap: 4.8rem 1.6rem;
}
.blog-page .blog-posts-wrapper .blog-card img.blog-img {
  width: 100%;
  height: 27.6rem;
  object-fit: cover;
}
.blog-page .blog-posts-wrapper .blog-card .blog-title {
  margin: 1.6rem 0;
}
.blog-page .blog-posts-wrapper .blog-card p {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2.4rem;
}
.blog-page .blog-posts-wrapper .blog-card a {
  display: flex;
  align-items: center;
  font-feature-settings: "case" on;
  color: #133025;
  gap: 1.1rem;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
