@font-face {
	font-family: "Helvetica Neue LT GEO";
	src: url("../fonts/HelveticaNeueLTGEO-55Roman.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "Helvetica Neue LT light";
	src: url("../fonts/HELVETICANEUELTGEO-45LIGHTS.TTF");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: "zarapxana";
	src: url("../fonts/ZARAPXANA.TTF");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

$black: #000;
$white: #ffffff;
$darkgreen: #133025;
$h1: 8.4rem;
$h2: 4rem;
$h3: 3.2rem;
$h4: 2.4rem;
$h5: 2rem;
$h6: 1.8rem;
$text16: 1.6rem;
$text14: 1.4rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue LT GEO", sans-serif;
	color: #000;
	transition: all 0.3s;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: $white;
}

::-webkit-scrollbar-thumb {
	background: $darkgreen;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba($color: darkgreen, $alpha: 0.9);
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth !important;
}

h1 {
	font-size: $h1;
}
h2 {
	font-size: $h2;
}
h3 {
	font-size: $h3;
}
h4 {
	font-size: $h4;
}
h5 {
	font-size: $h5;
}
h6 {
	font-size: $h6;
}
:root {
	--header-height: 175px;
}
@media (max-width: 1024px) {
	$h1: 4.4rem;
	$h2: 3.2rem;
	// $h3: 3.2rem;
	// $h4: 2.2rem;
	// $h5: 2rem;
	// $text16: 1.6rem;
	// $text14: 1.4rem;
	:root {
		--header-height: 146px;
	}
	h1 {
		font-size: $h1;
	}
	h2 {
		font-size: $h2;
	}
	h3 {
		font-size: $h3;
	}
	h4 {
		font-size: $h4;
	}
	h5 {
		font-size: $h5;
	}
	h6 {
		font-size: $h6;
	}
}
h1,
h2,
h3 {
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "zarapxana";
	font-weight: 400;
	color: $black;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: $black;
	&:hover {
		// color: rgb(7, 159, 7, 0.9) !important;
	}
}

%flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

%flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

%button {
	display: block;
	width: fit-content;
	border-radius: 0.4rem;
	padding: 1.6rem 2.8rem;
	text-align: center;
	font-feature-settings: "case" on;
	text-decoration: none;
	cursor: pointer;
	border: none;
}

.button-white {
	@extend %button;
	color: $darkgreen;
	background: rgba($color: $white, $alpha: 0.9);
}

.button-green {
	@extend %button;
	background-color: $darkgreen;
	color: rgba($color: $white, $alpha: 1);
}
.header-container {
	max-width: 1440px;
	margin: 0 auto;
	width: 98%;
	@media (max-width: 1024px) {
		width: 100%;
		padding: 0 1.6rem;
	}
}

.footer-container {
	max-width: 870px;
	margin: 0 auto;
	width: 98%;
}

// header
section:first-of-type {
	padding-top: var(--header-height);
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	height: var(--header-height);
	padding-top: 4.7rem;
	padding-bottom: 2.4rem;
	background-color: rgba($color: $darkgreen, $alpha: 0.6);

	&.not-index {
		background-image: url("../img/hero.png");
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
		background-blend-mode: overlay;
	}

	@media (max-width: 1024px) {
		padding-top: 4.6rem;
		padding-bottom: 1.2rem;
		// background-size: 124.2% 100%;
	}
	@media (max-width: 768px) {
		// background-size: 295% 100%;
	}
	.navlang-wrapper {
		@extend %flex-center;
		gap: 9rem;

		nav {
			width: 100%;
			.navbar-ul {
				@extend %flex-center;
				gap: 4rem;
				@media (max-width: 1200px) {
					gap: 2rem;
				}
				@media (max-width: 1024px) {
					li:not(.logo) {
						display: none;
					}
				}
				.logo {
					margin-left: auto;
					margin-right: auto;
					img {
						@media (max-width: 1024px) {
							width: 88px;
						}
					}
				}
			}
		}
		a {
			color: $white;
			font-size: $text16;
			text-decoration: none;
			font-feature-settings: "case" on;
		}
		.lang-bar {
			a:not(.active) {
				display: none;
			}
			@media (max-width: 1024px) {
				display: none;
			}
		}
		@media (max-width: 1200px) {
			gap: 4rem;
		}
	}
}

.hero-section {
	position: relative;
	// min-height: 80vh;
	height: 100vh;
	// padding-top: 175px;
	text-align: center;
	background-image: url("../img/hero.png");
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: none;
	}
	@media (max-width: 1024px) {
		// min-height: 70vh;
		// background-size: 126.2% 100%;
	}
	@media (max-width: 768px) {
		background-size: cover;
	}

	&--about {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 104.2rem;
		@media (max-width: 1024px) {
			top: 0;
			height: 100%;
			padding-top: calc(var(--header-height) + 7.7rem);
			padding-bottom: 4rem;
			transform: translateX(-50%);
			display: flex;
			flex-direction: column;
			width: calc(100% - 3.2rem);
		}
		p {
			max-width: 600px;
			margin: 2.4rem auto 4rem;
			font-size: $text16;
			font-weight: 700;
			color: $white;
			@media (max-width: 1024px) {
				font-size: $text14;
				margin-top: 1.2rem;
			}
		}
		h1 {
			color: $white;
		}
		.button-white {
			margin: auto;
			@media (max-width: 1024px) {
				margin: auto auto 0;
				width: 100%;
			}
		}
	}
}
.about-us-section {
	position: relative;
	min-height: 80vh;
	background-image: url("../img/about.png");
	background-position: center center;
	background-size: cover;
	@media (max-width: 1024px) {
		min-height: 100vh;
	}
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&--content {
		position: absolute;
		left: 50%;
		top: 0;
		height: 100%;
		transform: translateX(-50%);
		background-color: rgba($color: $darkgreen, $alpha: 0.5);
		color: $white;
		text-align: center;
		@extend %flex-center;
		flex-direction: column;
		padding-left: 10rem;
		padding-right: 10rem;
		max-width: 70.5rem;
		width: calc(100% - 3.2rem);
		@media (max-width: 1024px) {
			padding: 22rem 0;
		}
		> * {
			max-width: 48.6rem;
			width: 90%;
			margin: 0 auto;
		}
		h2 {
			margin-bottom: 4rem;
			color: $white;
			@media (max-width: 1024px) {
				margin-bottom: 3.2rem;
			}
		}
		p {
			margin-bottom: 2.4rem;
			font-size: $text16;
			font-weight: 400;
			color: $white;
			@media (max-width: 1024px) {
				font-size: $text14;
			}
		}
	}
}

.services-section {
	position: relative;
	max-width: 1920px;
	margin: auto;
	width: 100%;
	padding-top: 8rem;
	padding-bottom: 14.6rem;
	@media (max-width: 1024px) {
		padding-top: 4.8rem;
		padding-bottom: 6.4rem;
	}
	&--bg {
		position: absolute;
		top: 0;
		right: 5%;
		max-width: 67rem;
		// width: 40%;
		aspect-ratio: 1;
		z-index: -1;
		@media (max-width: 1024px) {
			width: 264px;
			right: -8rem;
			top: 4.5rem;
		}
	}
	&--container {
		max-width: 1704px;
		margin: auto;
		width: 90%;
		@media (max-width: 1024px) {
			width: 100%;
			padding: 0 1.6rem;
		}
	}
	&--wrapper {
		margin-top: 4rem;
		display: grid;
		grid-template-columns: 1.3fr 1fr 1.3fr;
		gap: 1.6rem;
		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			margin-top: 3.2rem;
		}
	}
	&--card {
		position: relative;
		height: 40.7rem;
		@media (max-width: 1024px) {
			height: 37.1rem;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.desc {
			background-color: rgba($color: $darkgreen, $alpha: 0.9);
			padding: 2.4rem 4.8rem;
			position: absolute;
			width: 100%;
			height: 48%;
			@extend %flex-center;
			flex-direction: column;
			align-items: start;
			bottom: 0;
			left: 0;
			@media (max-width: 1024px) {
				padding: 2rem;
				display: block;
				height: auto;
			}
			span {
				font-size: $text16;
				display: block;
				margin-bottom: 0.8rem;
				color: $white;
				font-feature-settings: "case" on;
				@media (max-width: 1024px) {
					font-size: $text14;
					margin-bottom: 1rem;
				}
			}
			h4 {
				margin-bottom: 5rem;
				color: $white;
				@media (max-width: 1024px) {
					margin-bottom: 4.8rem;
				}
			}
			a {
				text-decoration-line: underline;
				font-feature-settings: "case" on;
				font-size: $text14;
				color: $white;
				margin-top: auto;
				@media (max-width: 1024px) {
					margin-top: 0;
				}
			}
		}
	}
}

footer {
	background-color: $darkgreen;
	padding-top: 4rem;
	padding-bottom: 3.2rem;
	.footer-nav {
		margin-bottom: 3.2rem;
		ul {
			@extend %flex-center;
			gap: 4rem;
			flex-wrap: wrap;
			@media (max-width: 1024px) {
				flex-direction: column;
				gap: 2.4rem;
			}
			a {
				font-feature-settings: "case" on;
				font-size: $text16;
				color: $white;
				text-decoration: none;
			}
		}
	}
	.footer-contact {
		text-align: center;
		margin-bottom: 5.5rem;
		a {
			color: $white;
			font-size: $text16;
			text-decoration: none;
		}
		@media (max-width: 1024px) {
			margin-bottom: 4.8rem;
			margin-top: 4.8rem;
		}
	}
	.created-by {
		color: $white;
		font-size: $text16;
		text-align: center;
		p {
			color: $white;
		}
		a {
			color: $white;
			font-size: $text16;
			text-decoration: none;
			font-weight: 700;
		}
	}
}
.stay {
	padding: 4.8rem 0 8rem;
	padding-top: calc(var(--header-height) + 4.8rem) !important;
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1024px) {
		padding-top: calc(var(--header-height) + 3.2rem) !important;
		padding-bottom: 6.4rem;
	}
	.stay-block {
		margin-top: 1.2rem;
		display: grid;
		grid-template-columns: 1fr 1.7fr;
		grid-template-areas: "text img";
		padding-left: 4rem;
		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			grid-template-areas: "img" "text";
			padding: 0;
			margin-top: 3.2rem;
		}
		&:nth-of-type(2) {
			padding-left: 0;
			padding-right: 4rem;
			grid-template-columns: 1.7fr 1fr;

			grid-template-areas: "img text";
			@media (max-width: 1024px) {
				padding: 0;
				grid-template-columns: 1fr;
				grid-template-areas: "img" "text";
			}
			.stay-desc {
				margin-left: -3rem;
				margin-top: 2.6rem;
				@media (max-width: 1024px) {
					margin: 0;
					width: calc(100% - 1.6rem);
					margin-right: auto;
					margin-top: -3rem;
				}
			}
			.stay-img {
				margin-top: 0;
			}
		}
	}
	.stay-desc {
		background: #f1f1f1;
		padding: 4.8rem;
		height: fit-content;
		grid-area: text;
		margin-right: -3rem;
		@media (max-width: 1024px) {
			margin: 0;
			padding: 2.4rem;
			width: calc(100% - 1.6rem);
			margin-left: auto;
			margin-top: -3rem;
		}
		h4 {
			margin-bottom: 2rem;
		}
		.button {
			margin-top: 5rem;
		}
		p {
			max-width: 486px;
			width: 90%;
			font-size: $text16;
			color: $black;
		}
	}
	.stay-img {
		max-width: 1211px;
		margin-top: 3.2rem;
		height: 32rem;
		grid-area: img;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 1024px) {
			margin-top: 0;
		}
	}
}
.rooms {
	padding: 4.8rem 0 20rem;
	padding-top: calc(var(--header-height) + 4.8rem) !important;
	.header-container {
		@media (max-width: 1024px) {
			padding-left: 0;
			> h3 {
				padding-left: 1.6rem;
			}
		}
	}
	@media (max-width: 1024px) {
		padding-bottom: 6.4rem;
		padding-top: calc(var(--header-height) + 3.2rem) !important;
	}
	&--wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
		margin-top: 4.8rem;
		row-gap: 1.6rem;
		@media (max-width: 1024px) {
			margin-top: 3.2rem;
		}
	}
	&--card {
		display: block;
		cursor: pointer;
		.card--img {
			width: calc(100% - 1.6rem);
			margin-left: auto;
			display: block;
			aspect-ratio: 1;
		}
	}
	&--desc {
		background: #f2f2f2;
		padding: 2.1rem 3rem 2.1rem 1.6rem;
		@extend %flex-between;
		width: calc(100% - 1.6rem);
		margin-right: auto;
		cursor: pointer;
		h5 {
			max-width: 20rem;
		}
	}
}

.glamping {
	padding-bottom: 10.4rem;
	@media (max-width: 1024px) {
		padding-bottom: 6.4rem;
	}
}

.button-green.see-more {
	margin: auto;
	margin-top: 6.3rem;
}
.gallery {
	padding-top: calc(var(--header-height) + 4.8rem) !important;
	padding-bottom: 9.6rem;
	@media (max-width: 1024px) {
		padding-top: calc(var(--header-height) + 3.2rem) !important;
		padding-bottom: 6.4rem;
	}
	&--wrapper {
		margin-top: 4.8rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(357px, 1fr));
		gap: 4px;
		.gallery-img {
			width: 100%;
			cursor: pointer;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 3.2rem;
		}
	}
	.gallery-slider {
		display: none;
	}
	.gallery-slider.active {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 30;
		background-color: rgba(0, 0, 0, 0.7);
		.close-img {
			position: absolute;
			top: 6.4rem;
			right: 6.4rem;
			cursor: pointer;
			@media (max-width: 1024px) {
				right: 3rem;
				top: 4.6rem;
			}
		}
		@media (max-width: 1024px) {
		}
		.content {
			max-width: 898px;
			width: 50%;
			margin: auto;
			@extend %flex-center;
			height: 100%;
			background-color: rgba($color: #f2f2f2, $alpha: 0.2);
			@media (max-width: 1024px) {
				width: 100%;
				height: 70vh;
				margin-top: 20vh;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 90% 10%;
				grid-template-areas: "img img" "left right";
				background-color: rgba($color: #f2f2f2, $alpha: 0.8);
			}
			.slider-btn {
				background-color: rgba($color: #f2f2f2, $alpha: 0.8);
				padding: 16rem 1.6rem;
				border: none;
				cursor: pointer;
				max-height: 34.5rem;
				&.prev {
					img {
						transform: rotate(180deg);
					}
				}

				@media (max-width: 1024px) {
					padding: 0;
					height: 100%;
					background-color: transparent;

					&.prev {
						grid-area: left;
					}
					&.next {
						grid-area: right;
					}
				}
			}
			.gallery-slider-imgs {
				width: 100%;
				// height: 90%;
				@media (max-width: 1024px) {
					grid-area: img;
					height: 100%;
				}
			}
			.slider-img {
				display: none;
				width: 100%;
				aspect-ratio: 1;
				&.active {
					display: block;
				}
				@media (max-width: 1024px) {
					aspect-ratio: unset;
					height: 100%;
					max-height: 572px;
					object-fit: cover;
				}
			}
		}
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	gap: 1.8rem;
	margin: 3.4rem 0 1.4rem;
	width: fit-content;
	img {
		transform: rotate(180deg);
	}
	@media (max-width: 1024px) {
		margin-top: 2rem;
	}
}
.similar-rooms {
	margin-bottom: 9.6rem;
	margin-top: 7.2rem;
	@media (max-width: 1024px) {
		margin-bottom: 8rem;
		margin-top: 3.2rem;
	}
	.similar-rooms-title {
		padding: 0 1.6rem;
		margin-bottom: 2.4rem;
		@media (max-width: 1024px) {
			text-align: center;
		}
	}
	.similar-slider {
		max-width: 1544px;
		width: 100%;
		margin: auto;
		padding: 0 4rem;
		// border-left: 4rem solid white;
		// border-right: 4rem solid white;
		@media (max-width: 1024px) {
			padding: 0;
		}
		.swiper-wrapper {
			max-width: 100%;
		}
		.swiper-button-next,
		.swiper-button-prev {
			&::after {
				color: $black;
				font-size: 2rem;
			}
			height: 100%;
			top: 0;
			margin: 0;
			bottom: 0;
			background-color: $white;
			width: 4rem;
			@media (max-width: 1024px) {
				display: none;
			}
		}
		.swiper-button-next {
			// right: -4rem;
			right: 0;
		}
		.swiper-button-prev {
			// right: -4rem;
			left: 0;
		}
	}
}

.room-info {
	max-width: 1920px;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1.03fr;
	align-items: center;

	@media (max-width: 1024px) {
		grid-template-columns: 1fr;
	}
	.room-description {
		padding: 4rem 6rem 5.6rem;
		background: #f2f2f2;
		padding-right: 24%;
		min-height: 50rem;
		@media (max-width: 1024px) {
			padding-right: 6rem;
			padding: 1.6rem;
		}
		.top {
			@extend %flex-between;
			align-items: start;
			margin-bottom: 3.2rem;
			@media (max-width: 1024px) {
				flex-direction: column;
			}
			h3 {
				max-width: 26.5rem;
				text-align: left;
				@media (max-width: 1024px) {
					margin-bottom: 1.7rem;
					max-width: unset;
				}
			}
			span {
				color: $darkgreen;
				@extend %flex-center;
				font-feature-settings: "case" on;
				font-size: $text14;
				font-weight: 700;
				gap: 1rem;
			}
		}
		p.about-room {
			color: rgba($color: $black, $alpha: 0.6);
			font-size: $text16;
			max-width: 80%;
			@media (max-width: 1024px) {
				max-width: unset;
			}
		}
		.room-offer-title {
			margin-top: 3.2rem;
			margin-bottom: 1.6rem;
			@extend %flex-center;
			gap: 1.2rem;
			span {
				font-feature-settings: "case" on;
				font-size: $text14;
				color: $black;
				flex-shrink: 0;
			}
			&::after {
				content: "";
				width: 100%;
				height: 1px;
				background: rgba($color: $darkgreen, $alpha: 0.07);
				display: block;
			}
		}
		.room-services li {
			font-feature-settings: "case" on;
			font-size: $text16;
			font-weight: 700;
			display: flex;
			align-items: center;
			gap: 1.2rem;
			margin-bottom: 1rem;
		}
		.price {
			font-size: $h3;
			font-feature-settings: "case" on;
			font-weight: 700;
			color: $darkgreen;
		}
	}
	.room-slider {
		width: calc(100% + 1.6rem);
		height: calc(100% - 4rem);
		position: relative;
		@media (max-width: 1024px) {
			height: 400px;
			width: 100%;
		}
		.swiper-wrapper {
			height: 100%;
			.swiper-slide {
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.slider-actions {
			position: absolute;
			z-index: 2;
			bottom: 0;
			left: 0;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: end;
			height: 4.8rem;
			padding: 1rem 1.6rem;
			background-color: rgba($color: $darkgreen, $alpha: 0.5);
			@media (max-width: 1024px) {
				justify-content: center;
			}
			> * {
				position: static;
				z-index: 5;
				width: fit-content;
			}
			.swiper-button-next,
			.swiper-button-prev {
				height: 100%;
				@extend %flex-center;
				margin: 0;
				&::after {
					font-size: 1.8rem;
					color: $white;
				}
				@media (max-width: 1024px) {
					display: none;
				}
			}
			.swiper-button-prev {
				margin-right: 3rem;
				margin-left: 2rem;
			}
			.swiper-pagination-bullet {
				width: 0.6rem;
				height: 0.6rem;
				background: rgba($color: $white, $alpha: 0.6);
				margin: 0 0.8rem;
				cursor: pointer;
			}
			.swiper-pagination-bullet-active {
				background: rgba($color: $white, $alpha: 1);
				position: relative;

				// width: 12px;
				// height: 12px;
				&::before {
					content: "";
					position: absolute;
					width: 12px;
					height: 12px;
					border-radius: 50%;
					border: 1px solid rgba($color: $white, $alpha: 1);
					display: block;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

.blog-page {
	padding-top: calc(var(--header-height) + 4.8rem) !important;

	padding-bottom: 10.4rem;
	position: relative;
	@media (max-width: 1024px) {
		padding-bottom: 8.8rem;
		padding-top: calc(var(--header-height) + 3.2rem) !important;
	}
	.blog-leaf {
		position: absolute;
		right: -5%;
		bottom: -10%;
		z-index: -1;
		@media (max-width: 1024px) {
			width: 235px;
			bottom: -1%;
			right: -10%;
		}
	}
	.blog-posts-wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(46.9rem, 1fr));
		gap: 4.8rem 1.6rem;
		margin-top: 4.8rem;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
			margin-top: 3.2rem;
		}
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			gap: 3.2rem;
		}
		.blog-card {
			img.blog-img {
				width: 100%;
				height: 27.6rem;
				object-fit: cover;
				@media (max-width: 1024px) {
					height: 20rem;
				}
			}
			.blog-title {
				margin: 1.6rem 0;
			}
			p {
				font-size: $text14;
				color: rgba($color: $black, $alpha: 0.8);
				margin-bottom: 2.4rem;
				@media (max-width: 1024px) {
					margin-bottom: 1.6rem;
				}
			}
			a {
				display: flex;
				align-items: center;
				font-feature-settings: "case" on;
				color: $darkgreen;
				gap: 1.1rem;
				font-size: $text14;
			}
		}
	}
	.see-more {
		@media (max-width: 1024px) {
			margin-top: 5.6rem;
		}
	}
}
.blog-internal {
	max-width: 1920px;
	margin: auto;
	margin-bottom: 10.4rem;
	@media (max-width: 1024px) {
		margin-bottom: 4rem;
	}
	.blog-int-container {
		max-width: 1696px;
		margin-left: auto;
		margin-top: 3.4rem;
		padding-left: 1.6rem;
		display: flex;
		justify-content: space-between;

		@media (max-width: 1024px) {
			flex-direction: column-reverse;
			padding-left: 0rem;
			margin-top: 0;
		}
		.desc {
			max-width: 486px;
			@media (max-width: 1024px) {
				max-width: unset;
				padding: 0 1.6rem;
			}
			h3 {
				text-align: left;
				margin-top: 3rem;
				margin-bottom: 3.2rem;
				@media (max-width: 1024px) {
					font-size: 2.4rem;
					margin-top: 2.4rem;
					margin-bottom: 2.4rem;
				}
			}
			p {
				font-size: $text16;
				margin-bottom: 2.4rem;
				@media (max-width: 1024px) {
					font-size: $text14;
				}
			}
		}
		.img {
			max-width: 955px;
			width: 60%;
			img {
				width: 100%;
				max-height: 562px;
			}
			@media (max-width: 1024px) {
				max-width: unset;
				width: 100%;
			}
		}
	}
}

.contact-page {
	position: relative;
	max-width: 1920px;
	margin: auto;
	margin-top: 4.8rem;
	padding-bottom: 22rem;
	overflow: hidden;
	@media (max-width: 1024px) {
		padding-bottom: 0;
	}
	.leaf {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: -1;
		transform: translate(-50%, 40%);
		@media (max-width: 1024px) {
			display: none;
		}
	}
	.contact-wrapper {
		display: grid;
		margin-top: 4.8rem;
		grid-template-columns: 1.01fr 1fr;
		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			margin-top: 0;
		}
		.map {
			height: 562px;
			@media (max-width: 1024px) {
				height: 492px;
			}
		}

		.contact-links {
			margin-top: 4rem;
			height: fit-content;

			background: #f2f2f2;
			padding-top: 8.4rem;
			padding-bottom: 8.4rem;
			@media (max-width: 1024px) {
				margin-top: 3.2rem;
				padding: 3rem;
			}
			.contact-links-wrapper {
				max-width: 310px;
				display: flex;
				flex-direction: column;
				margin: auto;
				@media (max-width: 1024px) {
					max-width: unset;
					width: 100%;
					padding: 0;
				}
				a {
					display: flex;
					align-items: center;
					gap: 1.2rem;
					font-size: $text16;
					margin-bottom: 2rem;
					&:hover {
						color: $darkgreen;
					}
					@media (max-width: 1024px) {
						flex-direction: column;
						gap: 1rem;
					}
				}
			}
		}
	}
}

.services-page {
	padding-top: calc(var(--header-height) + 4.8rem) !important;
	padding-bottom: 10rem;
	@media (max-width: 1024px) {
		padding-top: calc(var(--header-height) + 2rem) !important;
		padding-bottom: 9rem;
	}
	.services-wrapper {
		margin-top: 4.8rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(469px, 1fr));
		gap: 1.6rem;
		@media (max-width: 1024px) {
			grid-template-columns: 1fr;
			margin-top: 3.2rem;
		}
		.service-card {
			position: relative;
			img {
				width: 100%;
				aspect-ratio: 1;
				@media (max-width: 1024px) {
					aspect-ratio: unset;
					height: 388px;
					object-fit: cover;
				}
			}
			.service-desc {
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 2.4rem 4.8rem;
				background-color: rgba($color: $darkgreen, $alpha: 0.9);
				min-height: 40%;
				display: flex;
				flex-direction: column;
				@media (max-width: 1024px) {
					padding: 2rem;
				}
				> * {
					color: $white;
				}
				.type {
					font-feature-settings: "case" on;
					font-size: $text16;
				}
				.title {
					margin-top: 0.8rem;
					@media (max-width: 1024px) {
						font-size: 2rem;
					}
				}
				.link {
					margin-top: auto;
					text-decoration: underline;
					font-feature-settings: "case" on;
					font-size: $text14;
				}
			}
		}
	}
}
.services-internal {
	margin-bottom: 10rem;
	.service-wrapper {
		margin-top: 3.4rem;
		display: flex;
		justify-content: space-between;
		@media (max-width: 1024px) {
			flex-direction: column;
			margin-top: 2.6rem;
		}
		.service-text {
			max-width: 486px;
			@media (max-width: 1024px) {
				max-width: unset;
			}
			.title {
				margin-bottom: 3.2rem;
				@media (max-width: 1024px) {
					margin-bottom: 2.4rem;
					font-size: 24px;
				}
			}
			p {
				font-size: $text16;
				margin-bottom: 2.4rem;
				@media (max-width: 1024px) {
					font-size: $text14;
				}
			}
		}
		.service-img {
			width: 50%;
			@media (max-width: 1024px) {
				display: none;
			}
			img {
				width: 100%;
				aspect-ratio: 1;
			}
		}
	}
}
